body {
  background-color: #000;
}

.reveal {
  .slides {
    width: 1040px !important;
  }

  code {
    background-color: black;
  }

  .emoji {
    font-size: 5em;
    line-height: 1em;
  }

  .rounded {
    border: 5px solid #acccf3;
    border-radius: 50% !important;
  }

  h1,
  h2,
  h3,
  h4,
  .glow {
    filter: drop-shadow(0px 0px 5px white);
  }

  .fit {
    max-width: 180px !important;
    max-height: 180px !important;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  li,
  .title,
  .quote-text {
    color: #acccf3 !important;
    font-family: Helvetica, sans-serif !important;
  }

  .lighthouse {
    img {
      width: 600px;
      height: auto;
    }
  }

  .south-middle {
    position: fixed;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .line {
    width: 1040px !important;
  }

  .slide-background {
    .custom {
      position: absolute;
      width: 30% !important;
      height: unset !important;
      max-width: none !important;
      max-height: none !important;
      top: 300px !important;
      left: 200px !important;
      object-fit: cover;
    }
  }

  .perf-ss {
    img {
      width: 800px !important;
      max-width: 160% !important;
      height: auto;
    }
  }
}
