body {
  background-color: #000;
}

.reveal {
  .slide-background-content {
    background-color: black;
  }
  .slides {
    width: 1040px !important;
  }

  code {
    background-color: black;
  }

  .rounded {
    border: 5px solid #acccf3;
    border-radius: 50% !important;
  }

  .glow {
    filter: drop-shadow(0px 0px 5px white);
  }

  .fit {
    max-width: 180px !important;
    max-height: 180px !important;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  li,
  .title,
  .quote-text {
    color: #acccf3;
    font-family: Helvetica, sans-serif !important;
  }

  .perf-ss {
    width: 600px;
    height: auto;
    margin-left: 200px;
  }

  .south-middle {
    position: fixed;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
